
.hotel_1
{
	height:500px;
	margin-top:30px;
	width:100%;
}
.hotel_part1
{
	width:350px;
	float:left;
}
.hotel_part2
{
	width:410px;
	float:left;
}
.hotel_price_bg
{
	margin-top:430px;
	height:80px;
	width:100%;
	background:black;
	filter: alpha(opacity=50); 
	opacity:0.5;
	z-index:2;
}
.hotel_price_show
{
	color:white;
	line-height:80px;
	margin-left:160px;
}
.hotel_price
{
	font-size:48px;
}
.hotel_part1_img1,.hotel_part1_img2,.hotel_part2_img1,.hotel_2_part1_img1
{
	width:350px;
	background:#333;
	z-index:1;
}
.hotel_part1_img1,.hotel_part1_img2
{
	height:250px;
}
.hotel_part1_img2
{
	margin-top:10px;
}
.hotel_part2_img1
{
	margin-left:10px;
	height:510px;
	float:left;
}
.hotel_2_part1_img1
{
	height:510px;
	float:left;
}
.hote1_part2_word
{
	float:left;
	width:50px;
	height:510px;
	font-size:24px;
	color:white;
}
.hote1_part2_word_top
{
	width:50px;
	height:10px;
	background:#ff9500;
}
.hote1_part2_word_text
{
	width:50px;
	height:500px;
	background:#999;
}
.hote_special
{
	padding-top:20px;
	padding-left:10px;
	width:30px;
}
.hotel_part3
{
	margin-left:10px;
	float:left;
	width:230px;
	height:510px;
	background:#333;
}
.hotel_part3_top
{
	height:20px;
	width:230px;
	background:#0099ff;
}
.hotel_part3_text
{
	padding-top:30px;
	width:190px;
	margin:0px auto;
	color:#fff;
	height:400px;
	font-size:18px;
}
.hotel_2,.hotel_3,.hotel_4,.hotel_5
{
	height:500px;
	clear:both;
	margin-top:20px;
}
.hotel_text_bg
{
	height:100%;
	width:100%;
	background:black;
	filter: alpha(opacity=50); 
	opacity:0.5;
	z-index:2;
}
.hotel_text_show
{
	margin:0px auto;
	padding-top:65px;
	width:310px;
	height:150px;
	font-size:18px;
	color:white;
}