.content
{
	margin-top:50px;
	height:auto;
}
.content_body
{
	height:770px;
	background:#e6e6e6;
}
.content_bottom
{
	margin-top:50px;
	height:200px;
	width:100%;
	background:url(../images/content_bottom.png);
}
.raiders_head
{
	height:50px;
	width:100%;
	background:url(../images/raiders_h.png);
}
.raiders_title
{
	width:978px;
	height:68px;
	margin:0px auto;
	background:white;
	margin-top:20px;
	border:1px solid gray;
	-moz-border-radius:5px;/*仅Firefox支持，实现圆角效果*/
	-webkit-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
	-khtml-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
	border-radius:5px;/*仅Opera，Safari,Chrome支持，实现圆角效果*/
	font-size:18px;
}
.raiders_title p
{
	color:#333;
	line-height:65px;
	margin-left:20px;
}
.raiders_title input
{
	width:763px;
	height:35px;
	border:1px solid gray;
	background:#f2f2f2;
	-moz-border-radius:5px;/*仅Firefox支持，实现圆角效果*/
	-webkit-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
	-khtml-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
	border-radius:5px;/*仅Opera，Safari,Chrome支持，实现圆角效果*/
	margin-left:13px;
	line-height:35px;
	color:#0066ff;
	font-size:18px;
}
.content_body textarea
{
	-moz-border-radius:5px;/*仅Firefox支持，实现圆角效果*/
	-webkit-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
	-khtml-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
	border-radius:5px;/*仅Opera，Safari,Chrome支持，实现圆角效果*/
}
.content_button
{
	width:100%;
	height:55px;
	background:#333;
	z-index:1;
}
.content_button_top
{
	height:50px;
}
.content_button_bottom
{
	height:5px;
	width:100%;
	background:#ff9500;
}
.content_button_top ul
{
	padding-top:10px;
	padding-left:670px;
}
.content_button_top ul li
{
	width:80px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:white;
	float:left;
	font-size:14px;
	cursor:pointer;
	z-index:2;
}
#enter
{
	background:url(../images/raiders_enter.png);
}
.buttons
{
	background:#313131;
}
#del_empty
{
	background:url(../images/raiders_del.png);
	margin-left:20px;
}