.head
{
	background:url(../assets/images/user_big.jpg) center 0px;
}
.content
{
	margin-top: 25px;
}
#user_mes
{
	clear:both;
	width:100%;
	height:240px;
	margin-top:350px;
}
.user_img
{
	float:left;
	width:240px;
	height:240px;
	background:white;
}
.user_content
{
	float:left;
	height:100%;
	width:760px;
}
.user_set
{
	width:93px;
	height:45px;
	background:url(../images/set.png);
	cursor:pointer;
	margin-left:670px;
	margin-top:40px;
}
.user_word
{
	width:760px;
	height:150px;
	background:white;
}
.user_top
{
	height:61px;
	line-height:61px;
	width:100%;
	
}
.user_top div
{
	float:left;
}
.user_introduce
{
	width:700px;
	font-size:18px;
	color:#333;
}
.user_Triangle
{
	width:60px;
	height:61px;
	background:url(../images/Triangle.png);
}
.user_bottom
{
	width:745px;
	margin-left:5px;
	height:80px;
	background-color:#e6e6e6;
}
.user_bottom p
{
	font-size:14px;
	color:#ff9500;
	margin-left:640px;
	text-decoration:underline;
	cursor:pointer;
}
.user_show_word
{
	clear:both;
	height:60px;
	width:100%;
	color:#333;
	font-size:18px;
}
/** 主体内容  **/
.content_title
{
	margin:0px;
	height:50px;
	background:url(../images/pic_title.png);
	width:1000px;
	position:relative;
}
.content_upload_pic
{
	position:absolute;
	width:100px;
	height:30px;
	cursor:pointer;
	top:10px;
	left:880px;
}
.content_show_pic
{
	width:100%;
	height:250px;
	background:white;
	border:1px solid #e6e6e6;
}
.content_show_pic div
{
	float:left;
}
.pic_left,pic_right
{
	width:70px;
}
.pic_left img,.pic_right img
{
	margin-top:80px;
	cursor:pointer;
}
.pic_right img
{
	margin-left:25px;
}
.pic_center
{
	width:858px;
	height:100%;
	overflow:hidden;
}
.user_all_img
{
	margin-top:25px;
}
.imgs_td
{
	width:220px;
	height:205px;
}
.content_body
{
	height:1250px;
	width:100%;
	margin-top:30px;
	background:;
}
.content_user_show
{
	float:left;
	height:1000px;
	width:760px;
}
.content_user_ul
{
	height:35px;
	width:100%;
	background:#f2f2f2;
	margin:0px;
}
.content_user_ul li
{
	width:150px;
	height:35px;
	float:left;
	text-align:center;
	line-height:35px;
	font-size:18px;
	cursor:pointer;
}
.content_user_card1
{
	color:white;
	background:#ff9500;
}
.content_user_card2
{
	color:black;
	background:#e6e6e6;
}
.content_user_card_bottom
{
	clear:both;
	height:5px;
	width:100%;
	background:#ff9500;
}
.raiders_title
{
	color:#0099ff;
}
.raiders_content
{
	margin-left:10px;
	font-size:18px;
}
.raiders_content li
{
	float:left;
}
.raiders_li1
{
	clear:both;
	width:300px;
	height:200px;
	margin-top:25px;
}
.raiders_li2
{
	width:450px;
	height:200px;
}
.raiders_msg
{
	width:760px;
	height:1130px;
	background:white;
}
.raiders_user_name
{
	color:#ff9500;
	text-decoration:underline;
}
.raiders_user_time
{
	color:#808080;
	margin-left:5px;
}
.raiders_user_text
{
	color:#808080;
}
.raiders_user_good
{
	width:49px;
	height:49px;
	background:url(../images/good.png);
	cursor:pointer;
	margin-left:400px;
}
.good_count
{
	color:#ff9500;
	margin-right:10px;
}
.content_other_mes
{
	float:left;
	width:230px;
	height:100%;
	margin-left:10px;
}
.enter_raiders
{
	margin-top:35px;
	width:230px;
	height:145px;
	background:url(../images/enter_raiders_1.png);
	cursor:pointer;
}
.go_where,.your_city
{
	margin-top:20px;
	width:230px;
	height:500px;
	position:relative;
}
.go_where
{
	background:url(../images/go_where.png);
}
.more_where,.more_city
{
	position:absolute;
	width:30px;
	height:20px;
	cursor:pointer;
	color:white;
	font-size:14px;
	left:180px;
	top:20px;
}
.your_city
{
	background:url(../images/your_city.png);
}
.show_where_user,.show_city_user
{
	position:absolute;
	top:80px;
}
.show_where_user li,.show_city_user li
{
	float:left;
	width:105px;
	margin-left:7px;
}
.show_page_1,.show_page_2
{
	margin-left:300px;
	margin-top:10px;
}
.show_page_1 li,.show_page_2 li
{
	float:left;
	width:30px;
	height:40px;
	text-align:center;
	line-height:40px;
	margin-left:10px;
	margin-bottom: 20px;
	cursor:pointer;
}
.show_page_next,.show_li_2
{
	color:#808080;
	background:white;
}
.show_page_next
{
	width:100px !important;
}
.show_li_1
{
	color:white;
	background:#ff9500;
}
/** 讨论区 * */
.talk_title
{
	clear:both;
	width:100%;
	height:40px;
	background:url(../images/talk_title.png);
}
.talk_bg
{
	width:940px;
	height:140px;
	margin:10px auto;
	background:url(../images/talk_bg.png);
}
.talk_enter
{
	width:104px;
	height:34px;
	background:url(../images/talk_enter.png);
	margin-left:870px;
	cursor:pointer;
}
.talk_user_img_1,.talk_user_img_2
{
	width:110px;
	height:110px;
	background:url(../images/talk_user_img.png);
	z-index:2;
	margin-top:55px;
}
.talk_user_msg_1
{
	width:930px;
	margin:20px auto;
	height:200px;
}
.talk_user_img_1,.talk_user_img_2
{
	float:left;
}
.talk_user_img_2
{
	margin-left:10px;
}
.talk_user_text_1
{
	margin-left:10px;
}
.talk_user_img
{

}
.talk_user_text_1,.talk_user_text_2
{
	float:left;
	width:808px;
	height:155px;
	background:url(../images/talk_user_msg_1.png);
	position:relative;
}
.talk_user_text_1
{
	background:url(../images/talk_user_msg_1.png);
}
.talk_user_text_2
{
	background:url(../images/talk_user_msg_2.png);
}
.user_text_1
{
	color:#404040;
	font-size:18px;
	position:absolute;
	top:30px;
	left:20px;
	width:95%;
}
.user_time_1,.user_time_2
{
	font-size:14px;
	color:white;
	position:absolute;
}
.user_time_1
{
	top:108px;
	left:655px;
}
.user_time_2
{
	top:108px;
	left:25px;
}
.talk_user_name
{
	color:white;
	background:#333;
	width:100px;
	
}
.talk_user_box_1,.talk_user_box_2
{
	clear:both;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
}
.talk_user_box_2
{
	margin-left:755px;
}
.talk_user_box_1 ul li,.talk_user_box_2 ul li
{
	float:left;
	color:white;
	cursor:pointer;
}
.talk_user_enter
{
	width:50px;
	background:#ff9500;
	margin-left:10px;	
}
.talk_place
{
	background:#e6e6e6;
}