*
{
	margin:0;
	padding:0;
}
body
{
	margin:0;
	padding:0;
	font-family:'微软雅黑';
	background:#f2f2f2;
	overflow-x:hidden;
}
.box
{
	width: 100%;
}
/** 头部    **/
.head
{
	width:1920px;
	height:500px;
}
/** 头部导航栏  **/
.head_list
{
	width:1000px;
	height:40px;
	margin:0px auto;
	padding-top:20px;
	font-size:18px;
}
.head_list div
{
	float:left;
}
.logo
{
	width:106px;
	height:40px;
	background:url(/assets/images/Logo.png) no-repeat;
}
ul
{
	list-style-type:none;
}
.list
{
	margin-left:145px;
	margin-top:10px;
}
.login
{
	margin-left:305px;
	margin-top:10px;
}
.login
{
	width:114px;
}
.list
{
	width:328px;
}
.list_card li,.login_card li
{
	float:left;
	color:#0099ff;
	border-right:1px solid #0099ff;
	text-align:center;
	cursor:pointer;
}
.list_card li
{
	width:80px;
}
.login_card li
{
	width:50px;
}
.list_end
{
	border-right:0px !important;
}
.list_index
{
	color:#ff9500 !important;
}
.love_feiji
{
	width:1000px;
	height:178px;
	background:url(/assets/images/love.png) no-repeat;
	margin-top:390px;
}
.love_word
{
	font-size:18px;
	color:#0099ff;
	margin-top:128px;
	margin-left:255px;
}
/** 正文 **/
.content
{
	width:1000px;
	margin:0px auto;
}
.content_title
{
	margin-left:30px;
	margin-top:30px;
}
.content_bottom
{
	margin-top:50px;
	height:200px;
	width:100%;
	background:url(/assets/images/content_bottom.png);
}
.content_body
{
	width:100%;
	
}
/** 尾部  **/
.bottom
{
	margin-top: 50px;
	height:850px;
	width:1920px;
}
.bottom_word
{
	width:1920px;
	height:100px;
	background:#ff9500;
	color:#fff;
	line-height:100px;
	font-size:30px;
	text-align:center;
}
.bottom_wall
{
	width:1920px;
	height:500px;
	background:url(/assets/images/wall.png) no-repeat;
}
.bottom_href
{
	width:100%;
	height:250px;
	background:#333;
}
